.site-header {
  border-bottom: 1px solid #000;
  background: #fff;
  padding: 15px;
  padding-left: 65px;
}
.site-footer {
  background: #000;
  border-top: 1px solid #000;
  color: #fff;
  padding: 15px;
}
.site-aside {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: rgba(0, 0, 0, 0.22);
  z-index: 10;
}
.site-aside__wrapper {
  background: #fff;
  width: 0;
  visibility: hidden;
  height: 100%;
  border-right: 1px solid #000;
  box-shadow: 5px 0 15px 0 rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.site-aside__toggle-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
}
@media (max-width: 767px) {
  .site-aside__wrapper {
    opacity: 0;
    transition: opacity .3s;
  }
}
@media (min-width: 768px) {
  .site-aside {
    position: relative;
    transition: width .3s;
  }
  .site-aside__wrapper {
    width: 100%;
  }
  .site-aside__toggle-button {
    left: 100%;
  }
}
.aside-on .site-aside {
  width: 100%;
}
.aside-on .site-aside__wrapper {
  visibility: visible;
}
@media (max-width: 767px) {
  .aside-on .site-aside__wrapper {
    opacity: 1;
    width: 300px;
  }
  .aside-on .site-aside__toggle-button {
    left: auto;
    right: 15px;
    top: 15px;
  }
}
@media (min-width: 768px) {
  .aside-on .site-aside {
    width: 300px;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.33);
}
.modal__body {
  background: #fff;
  width: 450px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -225px;
  padding: 15px;
}
.modal__close {
  position: absolute;
  top: 0;
  left: 100%;
}
.modal.active {
  display: block;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
button {
  cursor: pointer;
}
.con {
  max-width: 1000px;
  margin: 0 auto;
}
.site {
  min-height: 100vh;
  display: flex;
}
.site-wrapper {
  flex-grow: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.site-main {
  background: #eee;
  flex-grow: 1;
}
.site-content {
  padding: 30px;
}
.scroll-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
}
.js-toggle.active {
  background: #000;
  color: #fff;
}
