.modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.33);
	&__body {
		background: #fff;
		width: 450px;
		height: 300px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -150px;
		margin-left: -225px;
		padding: 15px;
	}
	&__wrapper {
		
	}
	&__close {
		position: absolute;
		top: 0;
		left: 100%;
	}
	&.active {
		display: block;
	}
}
