@import 'site-header.less';
@import 'site-footer.less';
@import 'site-aside.less';
@import 'modal.less';

@m: ~ "(max-width: 767px)";
@t: ~ "(min-width: 768px)";
@d: ~ "(min-width: 1280px)";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/*button {
	cursor: pointer;
}*/

.con {
	max-width: 1000px;
	margin: 0 auto;
}

.site-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.site-main {
	background: #eee;
	flex-grow: 1;
}

.site-content {
	padding: 30px;
}

.scroll-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	width: 45px;
	height: 45px;
}

.js-toggle.active {
	background: #000;
}

