@import 'site-header.less';
@import 'site-footer.less';
@import 'site-aside.less';
@import 'modal.less';

@m: ~"(max-width: 767px)";
@t: ~"(min-width: 768px)";
@d: ~"(min-width: 1280px)";

@black: #333;
@white: #fff;
@grey: #eee;
@blue: #0e93e0;
@red: red;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	color: @black;
	&.modal-open {
		overflow: hidden;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
.header {
	font-family: 'Open Sans Condensed', sans-serif;
}

a {
		text-decoration: none;
		position: relative;
		color: @blue;
		&::before {
				content: '';
				display: inline-block;
				width: 100%;
				height: 1px;
				background: @blue;
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0;
				transition: .1s;				
				transform: translateY(2px) scale(.8);
		}
		&:hover {
				&::before {
						opacity: 1;
						transform: none;
				}
		}
}

button {
	cursor: pointer;
}

.fancy-button {
	position: relative;
	overflow: hidden;
	span {
		position: absolute;
		width: 0;
		height: 0;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.2);
		transition: opacity .3s;
		&.hidden {
			opacity: 0;
		}
	}
}

img {
	max-width: 100%;
}

.site-content .section {
  padding: 70px 16px 16px;
}

.site-wrapper {
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.site-main {
	background: #eee;
	flex-grow: 1;
}

.site-content {
	//	padding: 30px;
}

.js-toggle.active {
	background: #000;
	color: #fff;
}

.tooltip {
	position: fixed;
	background: rgba(51, 51, 51, 0.75);
	color: #fff;
	visibility: hidden;
	opacity: 0;
	padding: 5px 10px;
	font-size: .75em;
	max-width: 200px;
	transition: opacity .3s;
  -webkit-backface-visibility: none;
}

.tooltip.active {
	visibility: visible;
	opacity: 1;
	z-index: 100;
}

.con {
	max-width: 600px;
	margin: 0 auto;
	@media @t {
		max-width: 800px;
	}
	@media @d {
		max-width: 1000px;
	}
}

.fancy-table {
	display: block;
	th {
		font-weight: bold;
		text-align: right;
		vertical-align: top;
		padding-right: 1rem;			
		padding-bottom: 1rem;
		.header();
		@media @t {
			width: 35%;
		}
		@media @d {
			width: 50%;
		}
	}
	td {
		vertical-align: top;			
		padding-bottom: 1rem;
	}
}

.fancy-ul {
	margin: 0;
	padding: 0;
	list-style: none;
	li {
		position: relative;
		padding-left: 1rem;
		margin-bottom: .5rem;
		&::before {
			content: '';
			display: inline-block;
			width: 4px;
			height: 100%;
			background: @blue;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}

.section {
	min-height: 100vh;
}

.section-heading {
	text-align: center;
	margin-bottom: 2rem;		
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  position: relative;
		&::before {
			content: '';
			display: inline-block;
			width: 100px;
			height: 2px;
			background: @black;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -50px;
		}
	&__title {
		text-transform: uppercase;
		margin: 0;
	}
	&__subtitle {
		margin-top: 1rem;		
	}
}

.sites {
	&__head {
		text-align: center;
		padding: 8px;
		button {
			background: none;
			border: none;
			margin: 8px;
			text-transform: uppercase;
			font-size: 1.5rem;
			.header();
      font-weight: bold;
			position: relative;
			padding: .25rem 0;
			&::before {
				content: '';
				display: inline-block;
				width: 0;
				height: 5px;
				background: @black;
				position: absolute;
				top: 100%;
				left: 0;
				transition: .3s;
			}
			&:hover {
				&::before {
					width: 100%;
				}
			}
			&.active {
				cursor: default;
				&::before {
					width: 100%;
				}
			}
		}
	}
	&__category {
		margin: 8px;
	}
	&__body {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
		padding: 8px;
	}
	&__item {
		height: 300px;
		flex-basis: 100%;
		padding: 8px;
		transition: .5s;
		max-height: 1000px;
		@media @t {
			flex-basis: 50%;
		}
		@media @d {
			flex-basis: 25%;
		}
		&--big {
			@media @t {
				flex-basis: 100%;
			}
			@media @d {
				flex-basis: 50%;
			}
		}
		&.hidden {
			padding: 0;
			@media @m {
				max-height: 0;
			}
			@media @t {
				flex-basis: 0;
			}
		}
	}
	&__inner {
		height: 100%;
		background: #fff url(../images/no-pic.svg) no-repeat center;
		background-size: auto 50%;
		position: relative;
		cursor: pointer;
		overflow: hidden;
    &:hover .sites__title {
      transform: translateY(100%);
    }
	}
	&__title {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 1.5rem;
		position: absolute;
		left: 0;
		bottom: 0;
		padding: .5rem;
		background: rgba(51, 51, 51, 0.75);
		color: #fff;
    pointer-events: none;
    transition: .1s;
	}
  &__pic {
    height: 100%;
    position: relative;
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(51, 51, 51, .5);
      opacity: 0;
      transition: .1s;
    }
    &::after {
      content: '';
      display: inline-block;
      width: 3rem;
      height: 3rem;
      background: rgba(51, 51, 51, 0.75) url(../images/zoom.svg) no-repeat center;
      background-size: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -1.5rem;
      margin-top: -1.5rem;
      transform: scale(0);
      transition: .3s;
    }
    &:hover {
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.fade-in {
  opacity: 0;
  transition: .3s;
  &--top {    
    transform: translateY(-150px) scale(.25);
  }
  &--right {    
    transform: translateX(150px) scale(.25);
  }
  &--bottom {    
    transform: translateY(150px) scale(.25);
  }
  &--left {    
    transform: translateX(-150px) scale(.25);
  }
  
}
.faded-in {
  transform: none;
  opacity: 1;
}